@using DeveloperPath.WebUI.Resources
@using DeveloperPath.WebUI.Shared
@inject IStringLocalizer<LanguageResources> localizer

<MudThemeProvider Theme="MyCustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity.IsAuthenticated)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p>@localizer["NotAuthorized"]</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>@localizer["NotFound"]</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
  static string[] fontFamily = @"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji".Split(",");
  MudTheme MyCustomTheme = new MudTheme()
  {
    LayoutProperties = new LayoutProperties
    {
      AppbarHeight = "50px"
    },
    Palette = new Palette
    {
      Primary = Colors.DeepPurple.Default,
      Secondary = Colors.Green.Accent4,
      AppbarBackground = Colors.Red.Default,
    },
    Typography = new Typography
    {
      Default = new Default
      {
        FontFamily = fontFamily
      },
      H1 = new H1
      {
        FontSize = "220%"
      },
      H2 = new H2
      {
         FontSize = "200%"
      },
      H3 = new H3
      {
         FontSize = "150%",
         FontWeight = 300
      },
      H4 = new H4
      {
         FontSize = "110%",
         FontWeight = 300
      }
    }
  };
}