@page "/administration/paths"
@inject IStringLocalizer<LanguageResources> localizer

<AuthorizeView Context="authorizeContext">
    <Authorized>
        <Condition Evaluation="Paths == null">
            <Match>
                <MudProgressLinear Indeterminate="true"></MudProgressLinear>
            </Match>
            <NotMatch>
                <MudButton Style="margin-bottom: 20px" StartIcon="@Icons.Outlined.Add">@localizer["AddPath"]</MudButton>
                <MudGrid>
                    <Iterations Items="Paths" Context="pathItem">
                        <MudItem xs="12" sm="6" md="4" lg="3" Class="px-1" Style="height: 350px;">
                            <MudCard>
                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.h6">@pathItem.Title</MudText>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudItem Class="px-1" Style="height: 60px;">
                                        <Iterations Items="pathItem.Tags.ToList()" Context="tagItem">
                                            <MudChip Size="Size.Small">@tagItem</MudChip>
                                        </Iterations>
                                    </MudItem>
                                    <MudItem Class="px-1" Style="height: 100px;">
                                        <MudText Typo="Typo.body1">
                                            @(pathItem.Description.Length > 180 ? $"{pathItem.Description.Substring(0, 180)}.." : pathItem.Description)
                                        </MudText>
                                    </MudItem>
                                </MudCardContent>
                                <MudCardActions>
                                    <MudButton Color="Color.Info">@localizer["Edit"]</MudButton>
                                    <MudButton Color="Color.Info">@localizer["Delete"]</MudButton>
                                    <Condition Evaluation="@pathItem.IsVisible">
                                        <Match>
                                            <MudIconButton Icon="@Icons.Outlined.Visibility"></MudIconButton>
                                        </Match>
                                        <NotMatch>
                                            <MudIconButton Icon="@Icons.Outlined.VisibilityOff"></MudIconButton>
                                        </NotMatch>
                                    </Condition>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    </Iterations>
                </MudGrid>
            </NotMatch>
        </Condition>
    </Authorized>
    <NotAuthorized>
        <p>@localizer["NotAuthorized"]</p>
    </NotAuthorized>
</AuthorizeView>
