@page "/paths/{id:int}"
@using DeveloperPath.WebUI.Resources
@using DeveloperPath.WebUI.Components
@inject IStringLocalizer<LanguageResources> _localizer

<Condition Evaluation="_state == UIHelper.State.Loading">
  <Match>
    <MudProgressLinear Indeterminate="true" Color="Color.Primary"></MudProgressLinear>
  </Match>
</Condition>
<Condition Evaluation="_state == UIHelper.State.ContentReady">
  <Match>
    <h1 class="py-3">@Model.Title</h1>
    <div class="">
      <p>@Model.Description</p>

      <div class="tags">
        @foreach (var tag in Model.Tags)
        {
          <span class="tag">@tag</span>
        }
      </div>

      @foreach (var module in Model.Modules)
      {
        <h2>@module.Title</h2>
        <p>@module.Description</p>
        <div class="tags">
          @foreach (var tag in module.Tags)
          {
            <span class="tag">@tag</span>
          }
        </div>
      }
    </div>
    </Match>
</Condition>
<Condition Evaluation="_state == UIHelper.State.Error">
    <Match>
        <MudContainer Class="d-flex justify-center py-2 px-1 mt-6">
            <MudButton StartIcon="@Icons.Filled.Refresh"
                       Color="Color.Primary"
                       Size="Size.Large"
                       OnClick="Reload">
                @_localizer["FetchError"]
            </MudButton>
        </MudContainer>
    </Match>
</Condition>